.discord_widget {
  
  @include breakpoint(max-width $small) {
    .btn span#discord_widget_member {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

}