/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  svg {
    font-size: inherit;
    display: inline-block;
    margin-right: 0.25em;
    height: 1em;
    width: 1.125em;
  }

  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.35em 1em;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $border-radius;
  cursor: pointer;

  .icon {
    font-size: inherit;
    display: inline-block;
    margin-right: 0.25em;
    height: 1em;
    width: 1.125em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* button colors */
  $buttoncolors: (primary, $primary-color), (inverse, #fff), (light-outline, transparent), (success, $success-color),
    (warning, $warning-color), (danger, $danger-color), (info, $info-color), (facebook, $facebook-color),
    (twitter, $twitter-color), (linkedin, $linkedin-color), (discord, $discord-color);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
      }

      &:visited {
        @include yiq-contrasted($color);
      }

      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
    }
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* extra large button */
  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */
  &--large {
    font-size: $type-size-5;

    &--large-icon {
      svg {
        font-size: $type-size-4 !important;
      }
  
      // .label {
      //   float: right;
      //   margin-top: 0.01em;
      // } 
    }
  }

  /* small button */
  &--small {
    font-size: $type-size-7;
  }

  &--caption {
    margin-left: 0.5em;
    font-size: $type-size-7;
  }

  &--wrapper {
    height: 100%;
  }
}
