/* ==========================================================================
   TEAM
   ========================================================================== */

.layout--team {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

.team-title {
  font-size: $type-size-4;
}

.team__toggle {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: $nav-toggle-height;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: mix(#000, $primary-color, 25%);
  }
}

.team-icon {
  width: 100%;
  height: 100%;
}

.team-content {

  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0em;

  display: none;
  visibility: hidden;
  padding-top: 0em;
  padding-bottom: 0em;

  .team-member {
    @include breakpoint($small) {
      width: calc(25%);
      padding-bottom: 0em;
      padding-top: 0em;
      border-bottom-width: 0em;
    }

    width: 100%;

    border-bottom-width: 2px;
    border-bottom-color: $border-color;
    border-bottom-style: solid;
    padding-bottom: 1em;
    padding-top: 1em;

    text-align: center;
    vertical-align: middle;

    margin-left: auto;
    margin-right: auto;

    a {

      width: 70%;

      svg {
        font-size: $type-size-3;
        margin-right: 0em;

      }
    }

    img {
      padding-top: 1em;
      max-width: 256px;
    }

    .role {
      display: block;
      font-size: $type-size-5;
      margin-bottom: 1em;
    }

    .name {
      display: block;
      color: $primary-color;
      font-size: $type-size-3;
      font-weight: bold;
    }
  }

  &__inner-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    margin-top: 1em;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }
  }

  &.is--visible {
    display: block;
    visibility: visible;

    &::after {
      content: "";
      display: block;
    }
  }

  .archive__item {
    margin-bottom: 2em;

    @include breakpoint($large) {
      width: 75%;
    }

    @include breakpoint($x-large) {
      width: 50%;
    }
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}
